.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*----------------------*/
.navbar-pic {
  width: 2em;
  margin-right: 1em;
}

.login-container {
  padding: 3em;
  background: rgba(255, 255, 255, 0.808);
  border-radius: 1em;
  margin-top: 10vh;
  text-align: center;
}

.app {
  background-image: url(https://picsum.photos/1000/1000/?random);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.login-container h1 {
  font-family: 'Rammetto One', cursive;
}

.login-container img {
  width: 100%;
}

.login-container h1 {
  font-size: 4em;
}

.login-container p {
  font-size: 1.5em;
}

.login-container button {
  font-size: 1.4em;
  margin: 1em 0;
}

.login-container button span {
  margin-left: 0.5em;
}

form {
  background: white;
  padding: 2em;
  border-radius: 1em;
}

form button {
  width: 100%;
}

form button span {
  font-size: 1.7em;
}

.question {
  background: rgba(255, 255, 255, 0.959);
  padding: 2em 1em;
  border-radius: 1em;
}

.question h1 {
  font-size: 1.7em
}

.answer {
  width: 100%;
  margin: 0.5em 0;
  font-size: 2em;
  white-space: initial;
}

.next-btn {
  width: 100%;
  font-size: 2em;
  margin-top: 2em;
}

.right_answer {
  text-align: center;
}

.wrong_answer {
  text-align: center;
}

.navdone {
  width: 100%;
  color: white;
  padding: 0.5em 0;
}

.navdone .trivia {
  display: inline-block;
  font-family: 'Rammetto One', cursive;
  color: white;
}

.gif_player {
  display:flex;
  flex-flow: column;
}

.gif_player img {
  width: 100%;
  height: auto;
}

.play_again {
  width: 100%;
  font-size: 2em;
}

.fa-power-off {
  color: white;
  font-size: 1.5em;
  margin-left: 1em;
}